.card{
    margin-top: 120px;
    width: 340px;
    height: 504px;
    border-radius: 5px;
    background-color: white;
}

.article-image{
    width: 340px;
    height: 288px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

.article-content{
    padding: 24px 16px;
}


.badge{
    background-color: rgb(215, 236, 222);
    padding: 4px 8px;
    border-radius: 9999px;
    width: fit-content;
    font-size: 12px;
    font-weight: 500;
}


.header-text{
    font-size: 16px;
    font-weight: bold;
}


.body-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 16px;
    font-weight: 300;
}

.read-more{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.read-more-text{
    margin-right: 8px;
    color: indigo;
    font-size: 16px;
    font-weight: 500;
}